<div class="container">
    <div class="container row">
        <input class="form-control mr-sm-2 col-md-3" type="text" placeholder="Buscar" aria-label="Search country" (keydown.enter)="buscar(texto)" #texto>
        <select #region class="select .text-danger col-md-5">
            <option *ngFor="let region of regions"> {{ region }} </option>
        </select>
        <button (click)="buscar(texto)" class="btn btn-outline-success btn-block my-2 my-sm-0 col-md-4" type="button">Search</button>
    </div>
</div>