<div>
    <div>
        <form class="form-inline my-2 my-lg-0">
            <input #term class="form-control mr-sm-2" type="text" placeholder="Album, artist, ..." aria-label="Search">
            <select #type class="custom-select">
                <option value="artist" selected>Artist</option>
                <option value="album">Album</option>
                <option value="playlist">Playlist</option>
                <option value="track">Track</option>
            </select>
            <button (click)="searchAlbums(term, type)" class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
        </form>
    </div>
    <div class="card-columns">
        <div *ngFor="let elem of searchResults" class="card" style="width:18-rem">
            <img *ngIf="elem.images[0]" class="card-img-top" src={{elem.images[0].url}} alt="Album image">
            <img *ngIf="!elem.images[0]" class="card-img-top" src="https://cdn.browshot.com/static/images/not-found.png" alt="Album image">
            <div class="card-body">
                <h5 class="card-title">{{elem.name}}</h5>
                <p class="card-text">Followers: {{elem.followers.total}}</p>
                <p class="card-text"><small class="text-muted">Genres: {{elem.genres}}</small></p>
                <button (click)="seeArtist(elem.id)" class="btn btn-outline-primary btn-block">See details</button>
            </div>
        </div>
    </div>
</div>