<div class="row no-gutters">
    <div class="col-md-4">
        <img [src]="camiseta.img" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{ camiseta.jugador }}</h5>
            <p class="card-text">PRECIO: <B>{{ camiseta.precio }} €</B></p>
            <p class="card-text">REF. #: {{ camiseta.id }}</p>
        </div>
    </div>
    <!--<button (click)="verCar(car.id)" class="btn btn-outline-primary">Ver detalle</button>-->
</div> 
