<div class="row no-gutters">
    <div class="col-md-8">
        <img [src]="country.img" class="card-img" alt="...">
    </div>
    <div class="col-md-4">
        <div class="card-body">
        <h5 class="card-title">{{ country.name }}</h5>
        <p class="card-text">LANG: <B>{{ country.language }}</B></p>
        <p class="card-text">CAPITAL: {{ country.capital }}</p>
        <p class="card-text">POP: {{ country.population }}</p>
        </div>
    </div>
    <!-- <button (click)="verCar(car.id)" class="btn btn-outline-primary">Ver detalle</button> -->
</div>
